main > ul {
    display: none;
    grid-template-columns: 85% 15%;
    margin-left: 30px;
    margin-right: 30px;
    padding :10px;
    padding-left: 50px;
    background : red;
    border-radius: 50px;
}
.qcm {
    display: none;
    grid-template-columns: 85% 15%;
    margin-left: 30px;
    margin-right: 30px;
    padding :10px;
    padding-left: 50px;
    height: 350px;
    background : linear-gradient(#9400D3, #800080);
    border-radius: 50px;
}

.qcm.active{
    display: grid ;
}

/* A voir avec le prof, bete d'idée mais ca marche pas */
/* main ul :hover {
    margin-left: 15px;
    margin-right: 15px;
    padding:10px;
    background : linear-gradient(#5900ff, #9932dd);
    border-radius: 60px;
    transition: 1s;
} */



.qcm div h3 {
    margin-left : 45px;
    text-align: center;
}

button {
    color: black;
    background-color: white;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    width: 80px;
    height: 50px;
}

button:hover {
    color: white;
    background-color: transparent;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
    width: 85px;
    height: 53px; 
    transition: background-color 0.3s;
}

main > ul li p, main > ul h3 {
    color : white;
}

.divbtn {
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}


.text-answers {
    font-size: medium;
    color: white;
}

.qcm div li div {
    margin-top: 2%;
    margin-bottom: 2%;
}
/* ON OEUT REVERSE UNE KEYFRAME */
/* ON OEUT REVERSE UNE KEYFRAME */

.active {
    animation: Smaller;
    animation-duration: 1.5s;
}

.rightqcm h3 {
    color: white;
}

@keyframes Smaller {
    from {
        opacity: 0%;
    }
    
    to {
        opacity: 100%;
    }
}